:root {
    /* --color-fondo: #4f5b67; */
    --color-fondo: #111;
    --color-fondo-claro: #657889;
    --color-claro: #c7d0d7;
    --color-boton: #fac5a6;
    --color-boton-claro: #fae2e0;
    --color-texto: #fff;
    --color-texto-claro: #777;
}